html, body, #root {
  font-family: 'Poppins', sans-serif;
  background: var(--gray-100);
  padding: 1rem;
  color: var(--gray-700);

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

